{% extends 'base.html.twig' %}

{% block css %}

{%  endblock %}

{% block dashboard %}
    <h3 class="page-header">Consulta de articulos vendidos en {{ mensaje }}</h3>
{% endblock %}

{% block content %}
    {{ dump(articulos) }}

    {% if articulos %}
        <table class="table">
            <tr>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Lista de articulos en la venta</th>
            </tr>
    {% for articulo in articulos %}
        <td> {{ articulo.fecha }}</td>
        <td> ${{ articulo.monto }}</td>
        <td>
        <ul>
        {% for producto in articulo.productos %}
             <li>{{ producto.nombre }}</li>
        {% endfor %}
        </ul>
        </td>
    {% endfor %}
        </table>
        {% else %}
            <div class="warning">
                <p class='text-danger'> No hay ventas para mostrar </p>
            </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {# Plugins requeridos por el modulo #}

{% endblock %}
