<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"><!--<![endif]-->
<html ng-app="{% block ngapp %}app{% endblock %}" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Clinica!
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >

        {# Archivos CSS de terceros #}
        <link href="{{ asset('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/plugins/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/plugins/morrisjs/morris.css') }}" rel="stylesheet">
        <link href="{{ asset('js/vendor/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

        {# CSS principal #}
        <link href="{{ asset('css/app/style-2.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app/timeline.css') }}" rel="stylesheet">

        {# Bloque para el css #}
        {% block css %}
        {%  endblock %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                {# Se incluye el template para mostar el menú superior #}
                {{ include(':Layout:menutop.html.twig') }}
                {# Se incluye el template para mostar el menú de navegación del lado izquierdo #}
                {{ include(':Layout:menuleft.html.twig') }}
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        {% block dashboard %}
                            <h1 class="page-header">Dashboard</h1>
                        {%  endblock %}
                    </div>
                </div>
                <!-- /.row -->
                <div class="row" style="padding: 25px;">
                    {% block content %}
                    {%  endblock %}
                </div>
                <!-- /.row -->
                <div class="footer">
                    <div class="pull-right">
                        <strong>Copyright</strong> Empresa &copy; 2016
                    </div>
                    <div>
                        <span>
                            <a href="#" class="blue bolder bxd-link"><span>Nombre</span></a>
                        </span>
                        <span class="action-buttons">
                            <a href= target="_blank">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {# JS Necesarios #}
        <script type="text/javascript" src="{{ asset('js/vendor/jquery-2.1.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/plugins/slimscroll/jquery.slimscroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('css/vendor/plugins/morrisjs/morris.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('css/vendor/plugins/raphael/raphael-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/base.js') }}"></script>

        {# Plugins #}
        <script type="text/javascript" src="{{ asset('js/vendor/plugins/toastr/toastr.min.js') }}"></script>

        {# JS Para generar todas las rutas que expone la aplicacion #}
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block javascript %}
        {%  endblock %}

        {# Angular JS  1.5.2 #}
        <script type="text/javascript" src="{{ asset('js/vendor/angular/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/angular/angular-resource.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/angular/angular-route.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/angular/angular-sanitize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/ui-bootstrap.js') }}"></script>
        {# JS del archivo principal para usar angular #}
        <script type="text/javascript" src="{{ asset('js/app/clinica.js') }}"></script>

        {% block angular %}
        {%  endblock %}
    </body>
</html>