<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {# HEADER DEL NAVBAR #}
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{  app.user }}</strong>
                            </span>
                            <span class="text-muted text-xs block">
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{{ path('fos_user_change_password') }}">Contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Salir</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="active">
                <a href="{{ path('home') }}"><i class="fa fa-hospital-o fa-fw"></i> Dashboard</a>
            </li>
            {% if is_granted('ROLE_GERENTE')  %}
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        Control de personal
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('registrar_gerente') }}">Gerentes</a>
                        </li>
                        <li>
                            <a href="{{ path('registrar_medico') }}">Medicos</a>
                        </li>
                        <li>
                            <a href="{{ path('registrar_enfermera') }}">Enfermeras</a>
                        </li>
                        <li>
                            <a href="{{ path('registrar_cajero') }}">Cajeros</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-clock-o"></i>
                        Modificar horarios
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Medicos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-eye"></i>
                        Consultar actividad
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_MEDICO')  %}
                <li>
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        Expedientes
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="">Nuevo</a>
                        </li>
                        <li>
                            <a href="">Modificar</a>
                        </li>
                        <li>
                            <a href="">Consultar</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ENFERMERA')  %}
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        Registrar paciente
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i>
                        Consultar citas
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar-o"></i>
                        Agendar nueva cita
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user-md"></i>
                        Consultar médico
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_CAJERO')  %}
                <li>
                    <a href="#">
                        <i class="fa fa-money"></i>
                        Pagos
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Citas</a>
                        </li>
                        <li>
                            <a href="#">Medicamentos</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_PACIENTE')  %}
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i>
                        Consultar citas
                    </a>
                </li>
                <li>
                    <a href="{{ path('agendar_cita_paciente') }}">
                        <i class="fa fa-calendar-o"></i>
                        Agendar nueva cita
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-o"></i>
                        Consultar expediente
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->