{% extends 'base.html.twig' %}

{% block dashboard %}
    <h1 class="page-header">Registrar Medicamento</h1>
{% endblock %}

{% block content %}
    <div class="row col-xs-12"  ng-controller="RegistrarMedicamentoCtrl">
        <div class="col-xs-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Registrar medicamento
                </div>
                <div class="panel-body">
                    {{ form_start(form , {'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_widget(form ) }}
                    <div id='activo'>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="panel-footer">
                    Datos del medicamento
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Activos
                </div>
                <div class="panel-body">
                    <label for="activo.nombre">Nombre</label>
                    <input type="text" name="activo.nombre" ng-model="activo.nombre" class="form-control" />
                    <label for="activo.cantidad">Cantidad</label>
                    <input type="text" name="activo.cantidad" ng-model="activo.cantidad" class="form-control" />
                    <button class="btn btn-success pull-right" ng-disabled ng-click="addActivo()">Agregar activo</button>
                </div>
                <div class="panel-footer">
                    Datos de activo
                </div>
            </div>
        </div>



    </div>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block angular %}
    {# Directivas del modulo #}
    <script type="text/javascript" src="{{ asset('js/directives/datatables.js') }}"></script>
    {# Servicios de AngularJS #}
    <script type="text/javascript" src="{{ asset('js/app/cajero/medicamento/controller/registrarMedicamento.js') }}"></script>
    {# Controles primarios de AngularJS #}
    <script type="text/javascript" src="{{ asset('js/app/cajero/medicamento/services/factories.js') }}"></script>
    {# Controles secundarios de AngularJS #}
{% endblock %}
